@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Inter", sans-serif !important;
  font-variant-numeric: tabular-nums;
}

body {
  -webkit-font-smoothing: antialiased;
}

:root {
  --timer: rgb(255, 224, 145);
  --purpose: rgb(183, 255, 183);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

#main-timer {
  fill: var(--timer);
  font-weight: 900;
}

#main-timer.is-negative {
  color: red;
}

#intention {
  background: transparent;
  border: none;
  font-size: 200%;
  color: green;
}
